<a href="https://colab.research.google.com/github/NicolasNgo/Projet1-INFO-PROF/blob/main/CorrectionTD1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Correction TD1 - Basics**

## **A) Object types and variables**

### **Strings**



---



#### **Exercise 1 - Try to guess what these commands will do**



```
my_string = "I like Python!"
my_string[2:]
my_string[5:8]
my_string[0:-5]
my_string[:]
```

#### **Correction**

```
my_string[2:]
```
will print the element from the index 2 to the end of the string: "like Python!"

```
my_string[5:8]
```
will print the elements between the index 5 and the index 8: 'e P'

```
my_string[0:-5]
```
will print the elements from the first character (index 0) to the 5th element starting from the end: 'I like Py'



```
my_string[:]
```
will print the element between the first and the last element of the string, i.e. the whole string:
'I like Python!'



---


#### **Exercise 2 - Text analysis**
**Consider the following text:**  
_"Genuine love is rarely an emotional space where needs are instantly gratified. To know love we have to invest time and commitment...  
'dreaming that love will save us, solve all our problems or provide a steady state of bliss or security only keeps us stuck in wishful fantasy, undermining the real power of the love -- which is to transform us.'  
Many people want love to function like a drug, giving them an immediate and sustained high. They want to do nothing, just passively receive the good feeling."_

**1. Assign the text to a string variable, with regards to the quotes and line breaks.**  
**2.Display how many "love" are present in the text, with a substitution**  
**3. Add the author's name at the end of the quote (Bell Hooks) and print the new quote.**


#### **Correction**

**1.** In order to include the line breaks and single quotes of the text, we need to use a triple quotes to assign this text to a string variable

In [ ]:
my_string = '''"Genuine love is rarely an emotional space where needs are instantly gratified. To know love we have to invest time and commitment...
'dreaming that love will save us, solve all our problems or provide a steady state of bliss or security only keeps us stuck in wishful fantasy, undermining the real power of the love -- which is to transform us.'
Many people want love to function like a drug, giving them an immediate and sustained high. They want to do nothing, just passively receive the good feeling."'''

print(my_string)

my_string.count()

"Genuine love is rarely an emotional space where needs are instantly gratified. To know love we have to invest time and commitment...
'dreaming that love will save us, solve all our problems or provide a steady state of bliss or security only keeps us stuck in wishful fantasy, undermining the real power of the love -- which is to transform us.'
Many people want love to function like a drug, giving them an immediate and sustained high. They want to do nothing, just passively receive the good feeling."

AttributeError: ignored

**2.** We use the *count()* method.

In [ ]:
love_count = my_string.count("love")
print("There is %i times the word 'love' in this quotes." % love_count)

There is 5 times the word 'love' in this quotes.

**3.** The author's name is assign to a variable and we create a new string by concatenation.

In [ ]:
author = "Bell Hooks"
new_string = my_string +  author
print(new_string)

"Genuine love is rarely an emotional space where needs are instantly gratified. To know love we have to invest time and commitment...
'dreaming that love will save us, solve all our problems or provide a steady state of bliss or security only keeps us stuck in wishful fantasy, undermining the real power of the love -- which is to transform us.'
Many people want love to function like a drug, giving them an immediate and sustained high. They want to do nothing, just passively receive the good feeling."Bell Hooks




---


### **Lists**



---



#### **Exercise 3 - Sort lists**

**With the following list of names and measurements do:**  
**1. Create two separate lists, one for the names and one for the measurements.**  
**2. Sort all the measurements by decreasing order and display the three smallest values.**  
**3. Sort all the names by alphabetical order and display the five first names, excepting the first one.**  
**4. A mistake has been made in the list, replace the "0.4" measurement by "0.34" and print the value of the three smallest values of the new list**

```
my_list = ["Michael", 0.35, "Yannick",0.4, 0.2, 0.1, "Jean", 0.8, "Abir", "John", "Maria", 2.2, 2.3, 4.0, "Abraham", 5.2, "Karen", "Ismael", 2.7, 5.2]
```

#### **Correction**

**1.** For this exercise we create the two lists "by hand" since we do not know better yet !

In [ ]:
my_list = ["Michael", 0.35, "Yannick",0.4, 0.2, 0.1, "Jean", 0.8, "Abir", "John", "Maria", 2.2, 2.3, 4.0, "Abraham", 5.2, "Karen", "Ismael", 2.7, 5.2]
names = ["Michael", "Yannick","Jean","Abir","John","Maria","Abraham","Karen","Ismael"]
measurements = [0.35, 0.4, 0.2, 0.1, 0.8, 2.2, 2.3, 4.0, 5.2, 2.7, 5.2]

**2.** We use the *sort()* method of a list object with the argument *reverse = True*.

In [ ]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Stable sort *IN PLACE*.

In [ ]:
measurements.sort(reverse = True)
measurements

[5.2, 5.2, 4.0, 2.7, 2.3, 2.2, 0.8, 0.4, 0.35, 0.2, 0.1]

For the three smallest values, you have to print the last 3 values of your sorted list (since it is sorted by decreasing order). There's a lot of possible way to do it.  
**First**, You can use negative indexing; 
* list[-1] will give you the last element of your list,
* list[-2] will give you the penultimate element of your list,
* list[-2:] will give you the last and punultimate element of your list. 
So in order to extract the last three elements you have to use:

In [ ]:
measurements[-3:]

[0.35, 0.2, 0.1]

**Second**, you can use the total length of the list (given by *len()* function) and slice from the total length minus 3 to the end of the list:

In [ ]:
measurements[len(measurements)-1:]

[0.1]

**Third**, you can reverse the list using `list[::-1]` and then slice the first three elements:

In [ ]:
measurements[::-1][:3]

[0.1, 0.2, 0.35]

**3.** By using the *sort()* method on a list of strings, Python will understand that you want to sort them by alphabetical order. In order to slice the five first names excepting the first one, you have to slice your list from 1 to 6.

In [ ]:
names.sort(reverse = False)
print(names[1:6])

['Abraham', 'Ismael', 'Jean', 'John', 'Karen']

**4.** We used to *remove()* method of list objects and *extend()* method to add the new value.

In [ ]:
measurements.remove(0.4)
measurements.extend([0.34])
print(measurements)
measurements.sort(reverse = True)
print(measurements[-3:])

[5.2, 5.2, 4.0, 2.7, 2.3, 2.2, 0.8, 0.35, 0.2, 0.1, 0.34]
[0.34, 0.2, 0.1]




---


### **Tuples**



---

#### **Exercise 4 - Manipulate tuples**

**Consider the following collection of patient names:**  
Gael, Mathis, Alexia, Oceane, Gaspard, Leo, Gabrielle, Laura, David and Hugo.  
**1. Assign the names to a tuple.**  
**2. Check if Marie is in the tuple, if not, add her to the tuple.**  
**3. A mistake was made, remove "Laura" from the tuple, display how many names are presents in the tuple.**  
**4. Assign each name to a waiting room (waitingRoom1, waitingRoom2 and waitingRoom3), but be careful, only the first waiting room can take more than one patient.**


#### **Correction**

**1.** We assign the names to a tuple using the parenthesis constructor.

In [ ]:
patients = ("Gael", "Mathis", "Alexia", "Oceane", "Gaspard", "Leo", "Gabrielle", "Laura"," David", "Hugo")

**2.** We check if 'Marie' is in the tuple with the *in* function

In [ ]:
"Marie" in patients

False

She's not in the tuple, we have to add her, there is at least 2 ways to do it. 

**First way** Cast patients into a list and add her (remember tuples are immutable, there's no *extend* method) and cast the list into a tuple again.

In [ ]:
patients_list = list(patients)
patients_list.extend(["Marie"])
patients = tuple(patients_list)
print(patients)

('Gael', 'Mathis', 'Alexia', 'Oceane', 'Gaspard', 'Leo', 'Gabrielle', 'Laura', ' David', 'Hugo', 'Marie')

'Gael'

**Second way** Create a tuple with only Marie in it and concatenate the two tuples.

In [ ]:
patient = ("Marie",) # remember to add a "," if there's only one element in the tuple
patients = patients + patient
print(patients)

('Gael', 'Mathis', 'Alexia', 'Oceane', 'Gaspard', 'Leo', 'Gabrielle', 'Laura', ' David', 'Hugo', 'Marie', 'Marie')

**3.** Tuples are immutable, there's no *remove()* method built-in. So we have to cast *patients* into a list, remove "Laura" from the list and cast the list into a tuple again.

In [ ]:
my_list = list(patients)
my_list.remove("Laura")
patients = tuple(my_list)
print(patients)
print("There's %i names in this tuples" % len(patients))

('Gael', 'Mathis', 'Alexia', 'Oceane', 'Gaspard', 'Leo', 'Gabrielle', ' David', 'Hugo', 'Marie', 'Marie')
There's 11 names in this tuples

**4.** For this task, we could assign "by hand" every name to a waiting room, but we can also use the **unpacking** functionality of the tuples. This works by assigning a tuple to multiple variables between parenthesis. 

```
(variable1, variable2, variable3) = tuple
```

If the number of variables is less than the number of values, it will not work, unless you use the '\*' at the begining of the variable name, this way, a list of values will be assign to the variable, until there is the same number of values left and variables. For our exercise, we will add an '\*' to the waitingRoom1 because the other waiting room cannot handle more than one patient.

In [ ]:
(*waitingRoom1, waitingRoom2, waitingRoom3) = patients
print("First waiting room : %s" % waitingRoom1)
print("Second waiting room : %s" % waitingRoom2)
print("Third waiting room : %s" % waitingRoom3)

First waiting room : ['Gael', 'Mathis', 'Alexia', 'Oceane', 'Gaspard', 'Leo', 'Gabrielle', ' David', 'Hugo']
Second waiting room : Marie
Third waiting room : Marie




---


### **Dictionaries**



---

#### **Exercise 5 - Create a dictionary from the two following lists**



```
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
```
**Hint**: Use the *zip* function


#### **Correction**

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
my_dict = dict(zip(keys, values))
my_dict

{'Ten': 10, 'Thirty': 30, 'Twenty': 20}

In [ ]:
my_dict = {'Ten':10, 'Twenty':20, 'Thirty':30}




---


#### **Exercise 6 - Merge the following dictionaries into one dictionary**



```
dict1 = {'Ten':10, 'Twenty':20, 'Thirty':30}
dict2 = {'Thirty':30, 'Fourty':40, 'Fifty':30}
```

#### **Correction**

In [ ]:
dict1 = {'Ten':10, 'Twenty':20, 'Thirty':30}
dict2 = {'Thirty':30, 'Fourty':40, 'Fifty':50}

dict3 = {**dict1, **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}




---


#### **Exercise 7 - Rename the key _city_ to _location_ in the following dictionary**



```
sampleDict = {"name":"Kelly",
              "age":25,
              "salary":8000,
              "city":"New York"}
```
**Hint**: Check the *pop* method


#### **Correction**

In [ ]:
sampleDict = {"name":"Kelly",
              "age":25,
              "salary":8000,
              "city":"New York"}

sampleDict['location']= sampleDict.pop("city")
sampleDict

{'age': 25, 'location': 'New York', 'name': 'Kelly', 'salary': 8000}




---


#### **Exercise 8 - From the following dictionary, return the classes with the highest grades to the lowest**


```
my_dict = {'History' : 14,
           'Math' : 8,
           'Physics' : 10,
           'Statistics' : 12,
           'Geography' : 18}

```
**Expected output**:["Geography", "History", "Statistics", "Physics", "Math"]  
**Hint**: Check the _sorted_ function and it's documentation about the _key_ argument.


#### **Correction**




For this exercise, we need to sort the values of the dictionary and print the keys with regards to the sorted values. We can use the *sorted* function of Python. Let's check the documentation of this function. 

The *sorted()* function sorts the elements of a given iterable in a specific order (ascending or descending) and returns it as a list. 

```
sorted(iterable, key = None, reverse = False)
```
Parameters: 
* __iteratle__ - A sequence (string, tuple, list) or collection (set, dictionary) or any other iterator.
* __reverse__ - If True, the sorted list is reversed (or sorted in descending order). 
* __key__ - A function that serves as a key for sort comparison. 

For this exercise we need to sort the dictionary values and returns the key associated with these values. If we use the dictionary as the iterable in the function, it will by default sort the *keys* of the dictionary, not the values. If we use *my_dict.items()* the values will be sorted but the function will only returns the *values* and not the *keys*. 
The trick is to use the dictionary as the iterable, and to use as a key the *get* method of the dictionary. The function provided in *key* will be applied to the given *iterable* and the function will sort the output of the function given in the *key* argument. By using *get* method as a key and the dictionary as an *iterable* the function will for each keys of the dictionary apply the get method which returns the value associated with this key and sort all the values then output the keys with regards to the sorted values.

In [ ]:
my_dict = {'History' : 14,
           'Math' : 8,
           'Physics' : 10,
           'Statistics' : 12,
           'Geography' : 18}

sorted(my_dict, key = my_dict.get, reverse = True)


---
### **Sets**

---

#### **Exercise 9 - Here are three lists, give the common element(s) of the three lists as a set**



```
list1 = ['Marc', 'Gabriel', 'Astrid', 'John']
list2 = ['Gabriel', 'Paul', 'Mathieu', 'John']
list3 = ['Banana', 'Apple', 'Paul', 'Computer', 'Gabriel']
```

#### **Correction**

In [ ]:
list1 = ['Marc','Gabriel','Astrid','John']
list2 = ['Gabriel','Paul','Mathieu','John']
list3 = ['Banana','Apple','Paul','Computer','Gabriel']

set1, set2, set3 = set(list1), set(list2), set(list3)
set4 = set1.intersection(set2.intersection(set3))

print(set1.intersection(set2.intersection(set3)))

print(set4)

{'Gabriel'}
{'Gabriel'}

---
#### **Exercise 10**

**From the folowing sequence of letters, you'll have to print the letter with the most occurrences and the number of occurrences of this letter, whether it is lowercase or uppercase. You have to use at least 2 collections type and a string.**

**This is sequence:** AlksErRoVpeWdsSaFsdCfafkpweRKddAPoSRCPsO


#### **Correction**


For this exercise, we will do the following steps:

1. Assign the sequence to a string *s*, this way we can use the *lower()* method of string.
2. Assign the string to a set *set_letters*. The set will remove every duplicate and we can get every single letter that appears in the sequence. 
3. Create a dictionary with *set_letters* as keys and no values. 
4. For each letter of *set_letters* we use the *count()* method on the string, created at step 1, to count the occurences of this letter in the sequence, we associate this number to the corresponding key in the dictionary.
5. Retrieve the key/letter with the highest value/occurence with the *max* function.

In [ ]:
# 1. 
s = 'AlksErRoVpeWdsSaFsdCfafkpweRKddAPoSRCPsO'
s = s.lower()

# 2.
set_letters = set(s)

# 3.
my_dict = dict()
my_dict.fromkeys(set_letters)

print(set_letters)

# 4. 
my_dict['k'] = s.count('k')
my_dict['s'] = s.count('s')
my_dict['r'] = s.count('r')
my_dict['f'] = s.count('f')
my_dict['a'] = s.count('a')
my_dict['o'] = s.count('o')
my_dict['p'] = s.count('p')
my_dict['v'] = s.count('v')
my_dict['w'] = s.count('w')
my_dict['e'] = s.count('e')
my_dict['d'] = s.count('d')
my_dict['c'] = s.count('c')
my_dict['l'] = s.count('l')

# 5.
max_letter = max(my_dict, key = my_dict.get)
print('The letter "%s" has the most occurrences, it appears %i times in the sequence.' % (max_letter, my_dict.get(max_letter)))

{'r', 'l', 's', 'w', 'k', 'v', 'f', 'p', 'd', 'a', 'e', 'c', 'o'}
The letter "s" has the most occurrences, it appears 6 times in the sequence.

{'a': 4,
 'c': 2,
 'd': 4,
 'e': 3,
 'f': 3,
 'k': 3,
 'l': 1,
 'o': 3,
 'p': 4,
 'r': 4,
 's': 6,
 'v': 1,
 'w': 2}

---
## **B) Conditional Statements**

---
### **If Statements**
---

#### **Exercise 11**

**The following dictionary contains the names, ages and locations of some fictionary patients.

```
patients = dict({"Name":['Patrice','Marine','Hugh'],
                 "Age":['26','35','8'],
                 "Location":['Marseille', 'Aix', 'Nice'})
```
**1. Check if Gabrielle, 22 from Lorient, is in the dictionary.**  
**2. If not, add her with her information to the dictionary**  
**3. Print the new dictionary**  
**You have to use a _if statement_.**

#### **Correction**

First we assign the information to a dictionary. Then we use a *if statement* with, as a condition, the presence of 'Gabrielle' in the name list. If she's not there we use the *append* method of a dictionary to add her, and her information, to the dictionary.

In [ ]:
patients = dict({"Name":['Patrice', 'Marine', 'Hugh'],
                 "Age":['26','35','8'],
                 "Location":['Marseille','Aix','Nice']})

if 'Gabrielle' in patients['Name']:
  print('The dictionary is complete')
else:
  patients['Name'].append('Gabrielle')
  patients['Age'].append('22')
  patients['Location'].append('Lorient')

print(patients)

---
#### **Exercise 12**

**Write a program that:**

**1. Ask the user to input an integer**  
**2. Print the value with a substitution**  
**3. Print if the number is even**


#### **Correction**

In [ ]:
integer = int(input("Give me an integer "))
if integer%2 == 0:
  print('%i is an even number' % integer)
else:
  print('%i is an odd number' % integer)

Give me an integer 5
5 is an odd number

---
### **Boolean Operations**
---

#### **Exercise 13**

**From the following code, guess what will be printed. Justify your answer. **



```
var1 = True
var2 = False
x = 10
y = '15'

statement1 = not ((not var1) and var2) or var2
statement2 = x != 10 or type(y) == int and x == 10

if statement1 != statement2:
  if statement1:
    print('I love maths')
  else:
    print('I love physics')
else:
  print('I love Python')
```


#### **Correction**

The answer is: 'I love maths'

In the first paragraph we initialize the variables. We have *var1* a boolean sets at True, *var2* a boolean sets at False, an integer *x* sets at 10 and a string *y* sets at '15'.

In [ ]:
var1 = True
var2 = False
x = 10
y = '15'

Now let's see the statements. We need to looks at order of priority  
**statement 1** : `not ((not var1) and var2) or var2`
This statement can be separated in two parts at the *OR* operator.

**`not ((not var1) and var2)`** OR **`var2`**  
`var2` is False so the right part of the statement is False. Since it is a *OR* statement, it could still be True if the left part is True. 

The left part of the statement,
`not((not var1) and var2)`, can be considered as an *AND* statement. `var2` is False and not `var1` is False (since `var1` is True). So `(not var1) and var2` is False. So **`not ( (not var1) and var2)`** will be True, because of the *not*.

In conclusion, left part of the statement is True so **statement1 = True**

In [ ]:
var1 = True
not var1

False

In [ ]:
not ((not var1) and var2) or var2

True

**statement2**: `x != 10 or type(y) == int and x == 10`
This statement is also an **OR** statement. 

**`x!=10`** OR **`type(y) == int AND x == 10`**
The left part of this statement is False since `x` is equal to 10.
The right part of this statement is a *AND* statement. It is True if `x` is equal to 10 and `y` is a integer. `x` is equal to 10 but `y` is a string, so the right part of the statement is False.

In conclusion, both left and right parts of **statement2** is false, so **statement2** is False.

In [ ]:
x != 10 or type(y) == int and x == 10

False

Now let's see the *if...else** statements. 

The first *if...else* compare if `statement1` and `statement2` are different, which is True. So we enter this conditional block and we here faced with the second `if...else` statement. 

Now the condition is `statement1`. Remember that *if* works with boolean, and the two variables `statement1` and `statement2` are booleans. Here the condition is met because `statement1` is True. So we do not need to look at the *else* block and **print('I love maths')** will be executed.

In [ ]:
var1 = True
var2 = False
x = 10
y = '15'

statement1 = not ((not var1) and var2) or var2
statement2 = x != 10 or type(y) == int and x == 10

if statement1 != statement2:
  if statement1:
    print('I love maths')
  else:
    print('I love physics')
else:
  print('I love Python')

I love maths


---
#### **Exercise 14**

**From the following list of booleans, check if there's at least one true element and print its index**

```
[False, False, True, False, False, False]
```

**Hint**: You should take a look at the `any` or `all` functions documentation.

In [ ]:
help(any)

Help on built-in function any in module builtins:

any(iterable, /)
    Return True if bool(x) is True for any x in the iterable.

    If the iterable is empty, return False.

In [ ]:
help(all)

Help on built-in function all in module builtins:

all(iterable, /)
    Return True if bool(x) is True for all values x in the iterable.

    If the iterable is empty, return True.

#### **Correction**

For a given iterable, `any()` will check if there is at least ONE True element, if it's the case, it will returns True, if not then it will returns False. `all()` will checks if ALL the elements of the iterable are True, if so, it returns True, otherwise, it returns False.

In [ ]:
help(all)

In [ ]:
help(any)

In [ ]:
list_bool = [False, False, True, False, False, False]
if all(list_bool):
  print(list_bool.index(True))
else:
  print('No True element')

No True element

In [ ]:
all(list_bool)

False

## **D) Functions**

#### **Exercise 15**
**Write a Python function `sum_list` that takes a list as an argument and returns the sum of the element of the list**

In [ ]:
def sum_list(my_list):
  return sum(my_list)

sum_list([15, 5, 2])

22

#### **Exercice 16**
**Write a Python function `my_mean_function` that takes a list as an argument and returns the mean of the elements of the list. You have to use the result of the previous function**

In [ ]:
def my_mean_function(my_list):
  return sum_list(my_list)/len(my_list)

my_mean_function([15, 5, 8, 6, 7])

8.2

#### **Exercise 17**
**Write a Python function `greater_function` that takes two arguments, two integer, and returns the one with the maximum number of digits. If they are of equal lengths, print a message.**

**Input:** int1 = 23655, int2 = 5583
**Expected output:** 23655

In [2]:
def greater_function(int1, int2):
  length1 = len(str(int1))
  length2 = len(str(int2))
  if length1 < length2:
    return int2
  elif length1 > length2:
    return int1
  else:
    print("They are of equal lengths")

int1 = 23655
int2 = 5583
greater_function(int1, int2)

23655

#### **Exercice 18**
**Redo the previous exercise but with a undefined number of integers.**
**Hint:** Use a `*args`

In [ ]:
def greater_function(*integers):
  my_list = list()
  for x in integers:
    my_list.append(str(x))
  maximum_number_of_digits = max(my_list, key = len)
  return maximum_number_of_digits



greater_function(8234, 5889, 623, 48712, 5965, 2, 12)

'48712'

**Exercise 19**

**You received a dataset with personal information from patients, in order to keep them anonymous, each patient has a personal identifiant. But the identifiant has been wrongly recorded as integers. In order to do your analysis you need to transform each identifiant to a string with padded 0 at the begining of the string if necessary. To do so you have to, get the maximum length of the identifiant and padd the appropriate number of 0 to the string. Write a Python function that take a undefined number of integers as an argument and returns the list of corresponding identifier as a string.**

**Input:** 623, 21, 4218, 114799, 18579  
**Expected output:** ['000623', '000021', '004218', '114799', '018579']

In [ ]:
def create_id(*id_as_integers):
  max_length = len(greater_function(*id_as_integers))
  my_list = list()
  for x in id_as_integers:
    if len(str(x)) == max_length:
      my_list.append(str(x))
    else:
      zero_to_be_added = (max_length - len(str(x)))
      new_id = '0'*zero_to_be_added + str(x)
      my_list.append(new_id)
  return my_list

create_id(623, 21, 4218, 114799, 1857)

['000623', '000021', '004218', '114799', '001857']

In [ ]:
max_length = len(greater_function(623, 21, 4218, 114799, 18579))
my_list = list()

id_as_integers = tuple((623, 21, 4218, 114799, 18579))
for x in id_as_integers:
  if len(str(x)) == max_length:
    my_list.append(str(x))
  else:
    zero_to_be_added = max_length - len(str(x))
    new_id = '0'*zero_to_be_added + str(x)
    my_list.append(new_id)
my_list

['000623', '000021', '004218', '114799', '018579']

## **C) Loops**

---
### **_for_ loops**
---

#### **Exercise 20**

**From the following list of numbers, print the cummulative sum of the numbers and stop when the sum is greater than 100.**

```
Numbers = [18, 15, 2, 35, 8, 78, 10, 12, 33]
```

#### **Correction**

We use a _for_ loops associated with a *if...else* statement and a *break* function

In [ ]:
Numbers = [18, 15, 2, 35, 8, 78, 10, 12, 33]
cumulative_sum = 0
for number in Numbers:
  if cumulative_sum < 100:
    cumulative_sum = cumulative_sum + number
    print(cumulative_sum)
  else:
    break

print("The cumulative sum is %i" % cumulative_sum)

18
33
35
70
78
156
The cumulative sum is 156

---
#### **Exercise 21**

**Ask to the user a name in a string, then display the index of each letter in the alphabet, with a *for* loop.**

**Hint:** Take a look at the `string` library and the ascii method.

#### **Correction**

The `string` library includes some useful methods like `string.punctuation` which is a string of ASCII characters which are considered punctuation characters. 
[documentation on string library](https://docs.python.org/3/library/string.html)

Here we are interested in the `string.ascii_lowercase` method which is an ordered string of lowercase letters of the alphabet. 

For this exercise, we ask the user a name, cast it into a string and lower every letter of the name.

We use `string.ascii_lowercase` in order to have every letter of the alphabet. 

Then we loop over the letters of the string containing the name. We print the index of this letter with the `index` method.

**Warning**: The indexes start at 0 (i.e. the index of the letter 'a' is 0) so you need to add one to the output of `index` method.

In [ ]:
import string

# We cast the user's input into a string
name = str(input('Enter a name: ')).replace(' ','').translate(str.maketrans("","", string.punctuation))
letters = string.ascii_lowercase

for letter in name:
  print("The letter %s is the %i letter of the alphabet." % (letter, letters.index(letter.lower())+1))

Enter a name: Jean-paul
The letter J is the 10 letter of the alphabet.
The letter e is the 5 letter of the alphabet.
The letter a is the 1 letter of the alphabet.
The letter n is the 14 letter of the alphabet.
The letter p is the 16 letter of the alphabet.
The letter a is the 1 letter of the alphabet.
The letter u is the 21 letter of the alphabet.
The letter l is the 12 letter of the alphabet.


---
#### **Exercise 22 - Prime numbers**

**Display all the prime numbers between 1 to 100 using loops.**

**Note:** A prime number is a natural number greater than 1 that is not a product of two smaller natural number. For instance 5 is a prime number because it can only be written as $1 \times 5$ or $5 \times 1$. However 4 is not a prime number because it can be written as $2 \times 2$.

One way to check if a natural number $k$ is a prime number is by checking if $k$ can be divided by a number $k'$ which verified $1 < k' < k$.


#### **Correction**

For this exercise we use a nested loop, a first *for* loop to range from 1 to 100 and a second *for* loop to check if there is a natural number can divide the iterator of the first *for* loop.

In [ ]:
for i in range(1, 101):
  if i > 1:
    for j in range(2, i):
      if i % j == 0:
        break
    else:
      print(i, "is a prime number")


---
### **_while_ loop**
---

#### **Exercise 23**

**Complete the following program to guess a number between 1 to 9. You must display a message when the user guessed the right integer.**



```
import random
integer_to_be_guessed = random.randint(1, 10)

#######################

# to be completed

#######################
```

**Note:** From the `random` library, we use the *randint* function to assign a random integer (between 1 and 9) to a variable. You have to write a loop which will ask the user to input an integer until that integer is the one randomly generated.

#### **Correction**

In [ ]:
import random
integer_to_be_guessed = random.randint(1, 10)

guessed = False
integer_choose = 0

while not guessed:
  integer_choose = int(input("Give a number between 1 and 9: "))
  if integer_choose == integer_to_be_guessed:
    guessed = True
    print('Well done! you guessed the right number %i !' % integer_to_be_guessed)

---
#### **Exercise 24**

**Write a program which will compute the Fibonnaci sequence until the user want it to stop. Do a second program that will calculater a given number _n_ of the Fibonnaci sequence values.**  
**Hint:** You have to write a loop that will take into account if the user want to stop or not at each iteration.   
**Note:** The Fibonnaci sequence, is a sequence noted $F_n$ such as each number, in the sequence, is the sum of the two preceding ones, starting from 0 and 1.
The mathematic formulation of the sequence is:

$$
F_0 = 0, F_1 = 1 \text{ and } F_n = F_{n-1} + F_{n-2}, \forall n > 1.
$$

Here is the first elements of this sequence:

$F_0 = 0, F_1 = 1, F_2 = 1, F_3 = 2, F_4 = 5, F_5 = 8, F_6 = 13$

#### **Correction**

To do this exercise, we initialize a boolean variable `stop` to False, and the 2 first elements of the the Fibonnaci sequence in a list.

Then we initialize an iterator *i* at 2. And we start the *while* loop. 

The loop will start and we compute the new value of the Fibonnaci sequence using the 2 preceding ones. Then we ask to the user if he wants to continue and assign the value in the boolean variable `stop`. 

Then we use a *if...else* statement to update the value of `stop` if the user want to continue *stop* will take the value True, if the user want to stop, the variable will take the value False. 

The *while* loop condition will be not stop. If the user want to stop, `stop = True` then `not stop = False` and the loop stops.

In [ ]:
stop = False
Fibonnaci = [0,1]

i = 2
while not stop:
  Fibonnaci.append(Fibonnaci[i-1] + Fibonnaci[i-2])
  print(Fibonnaci)
  stop = input('Should we continue ? (Yes or No)  ')
  if stop == "No":
    stop = True
    print('Ok, we stop.')
  else:
    stop = False
    
  i += 1

The second program does not require a *while* loops, we just need to get the value entered by the user and use it into a *for* loop.

In [ ]:
n = int(input("Value of n ? "))
Fibonnaci = [0, 1]

for i in range(2, n+1):
  Fibonnaci.append(Fibonnaci[i-1] + Fibonnaci[i-2])
else:
  print(Fibonnaci[n])

---
#### **Exercise 25**

**Redo Exercise 10 but with a for loop**

The sequence of letters was 'AlksErRoVpeWdsSaFsdCfafkpweRKddAPoSRCPsO' and you had to print the letter with the most occurences.

#### **Correction**

In [ ]:
s = 'AlksErRoVpeWdsSaFsdCfafkpweRKddAPoSRCPsO'
s = s.lower()
keys = set(s)
my_dict = {}

for key in keys:
  my_dict[key] = s.count(key)

max_letter = max(my_dict, key = my_dict.get)
print("The letter with the most occurences is %s which appears %i times in the string" % (max_letter, my_dict.get(max_letter)))

---
## **D) Comprehensions**
---

### **List comprehensions**
---

#### **Exercise 26**

**Create a list with comprehension that give the lengths of every word in the following sentence**

**Sentence:** "All animals are equal but some animals are more equal than others." (Quotes from Animal Farm - ORWELL, GEORGE).


#### **Correction**

In [ ]:
quotes = "All animals are equal but some animals are more equal than others"
words = quotes.split()

words_length = [len(word) for word in words]
words_and_length = [(word, len(word)) for word in words]

print(words_and_length)

---
#### **Exercise 27**
**From the following list, returns a new list with only the positive numbers as integers.**


```
numbers = [-2.2, 3.2, 1.8, -1.23, 0.3, -0.1, 7.6]
```

#### **Correction**

In [ ]:
numbers = [-2.2, 3.2, 1.8, -1.23, 0.3, -0.1, 7.6]
newlist = [int(x) for x in numbers if x > 0]
print(newlist)

---
#### **Exercise 28**
**Count the number of spaces in the following sentence, using comprehension.**  
**Sentence:** "Estimation of survivals distributions are commonly obtained using the Kaplan-Meier estimator."

#### **Correction**

In [ ]:
sentence = "Estimation of survivals distributions are commonly obtained using the Kaplan-Meier estimator."
print("There's %i white spaces in the sentence" % len([x for x in sentence if x == " "]))


---
#### **Exercise 29**
**Create a new string by removing all the vowels in the previous sentence**


#### **Correction**

In [ ]:
sentence = "Estimation of survivals distributions are commonly obtained using the Kaplan-Meier estimator."
new_sentence = "".join([char for char in sentence if char not in ['a','e','i','o','u','y']])
print(new_sentence)

---
#### **Exercise 30**
**Create a list of prime numbers between 2 and 100 with nested list comprehension.**


#### **Correction**

In [ ]:
prime_numbers = [x for x in range(2, 100) if True not in [True for divisor in range (2, x) if x % divisor == 0]]
prime_numbers

---
### **Dictionary comprehensions**
---

#### **Exercise 31**
**In the following dictionary, there's 5 different temperature measurements. The key is the time of measurement and the value is temperature in Fahrenheit. You have to convert the temperature in Celsius units, using comprehensions.**  

**Print the temperature at the 4th time measurement in F and in C units**

```
dictionary = {"t1": 50, "t2":85, "t3":32, "t4":43, "t5":229}
```

**Note:** The conversion from Fahrenheit to Celsius units is done with this formula:
$$
C = \frac{5}{9}\times(F - 32),
$$
With $F$ being the temperature in Fahrenheit units.  
**Example**: $10F = -12.2C$

$$
\frac{5}{9}(10 - 32) = - \frac{5\times22}{9} = -\frac{110}{9} = -12.2C
$$



#### **Correction**

In [ ]:
temperatures = {"t1":50, 't2':85, 't3':32, 't4':43, 't5':229}
new_temperatures = {key:int((5/9)*(value - 32)) for (key, value) in temperatures.items()}

print("At the fourth measurement time, the temperature was of %iF or %iC." % (temperatures.get('t4'), new_temperatures.get('t4')))

---
#### **Exercise 32**
**From a random list of ages, you have to:**  
**1. Create a new list with discrete values of ages. Created with a 10 years step as follows:**    
**[0,10), [10,20), [20,30),...,[90,100).**  
**2. Create a dictionary with each age category as a key and the number of occurences of this category as a value.**  
**3.Print the category with the most occurences and the one with the fewest occurences.**
**You can only use comprehensions, except for the 3rd task**

**Hint:** Use *random.randint()* in order to create ages from 1 to 99 (not included)

#### **Correction**

In [ ]:
import random 

# We generate the ages list
age_num = [random.randint(1, 99) for i in range(100)]

# We create the discrete values of ages.
keys = [''.join(['[', str(i), ',', str(i+10), ')']) for i in range(0, 100, 10)]
age_cat = [keys[i//10] for i in age_num]

# We create the dictionary with keys and the number of occurrences as values.
dict_age = {key:age_cat.count(key) for key in age_cat}

# From the dictionary we extract which category as the most and the less occurrences
max_cat = max(dict_age, key = dict_age.get)
min_cat = min(dict_age, key = dict_age.get)

print("The category with the most occurencies is %s with %i occurences." % (max_cat, dict_age.get(max_cat)))
print("The category with the less occurencies is %s with %i occurences." % (min_cat, dict_age.get(min_cat)))

Here we created *keys* with a comprehension and a *join* method. *join* is a string method that insert elements of the left part of the join between elements of the right part of the join. 

Here the right part is 


```[ '[' , str(i) , ',' , str(i+10) , ')' ]``` it creates a list similar to [ '[' , i , ',' , i+10 ,')'] with i going from 0 to 100 by a step of 10. 

The left part of the *join* is a trick. By using the **""** we insert nothing between the elements of the right part. It simply paste the elements of the righ part. So the result would be something like '[i,i+10)' with i going from 0 to 100.

*age_cat* is calculated with a comprehension. We created the list of age category, from 0 to 100 with a 10 step. So we could safely says that the element indexed 0 of the *keys* list is the category of ages under 10.

keys[0] = [0, 10) : everyone one under 10 years old.  
keys[1] = [10, 20) : people between 10 and 19 years old.  
keys[2] = [20, 30) : people between 20 and 29 years old.  

keys[8] = [80, 90) : people between 80 and 89 years.  
keys[9] = [90, 100) : people between 90 and 99 years.  

As you can see, the index of the *keys* list is the tens of the age category. So we can use an euclidean division and use the quotient as an index. *//* give the quotien of the euclidean division.

**Example:** Let's say we want to categorised 15 years. It obviously goes to the category [10, 20). 
We have $15 =  10 \times 1 + 5$ the quotient is $1$ and *keys[1]* is [10, 20).

**Some links**

[Python Documentation](https://docs.python.org/3/library/index.html)